

body {
    padding: 0;
    margin: 0;
}

.nav-bar {
    height: 70px;
    width: 100%;
    background-color: #115c9b;;  
}

.nav-bar img{
    height: 50px;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
}

.nav-links {
    margin-top: -38px;
    margin-left: 80px;
    word-spacing: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-links a:hover {
    border: none;
    /* background-color: orangered; */
    cursor: pointer;
    color: orangered;
    word-spacing: 15px;
    /* border-radius: 25px; */
}
/* login and signup button styling */
.btn-login-signup {
    position: absolute;
    top: 10px;
    left: 78%;
    word-spacing: 15px;
}

/* code reuse for both button */
.btn-login-signup button {
    height: 50px;
    width: 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}

#btn-login {
    border: none;
    background-color: #115c9b;
    color: #fff;
}

#btn-login:hover {
    border: none;
    background-color: orangered;
    cursor: pointer;
    color: #fff;
    border-radius: 25px;
}

#btn-signup {
    border: none;
    border-radius: 25px;
    background-color: orangered;
    color: #fff;
}

#btn-signup:hover {
    cursor: pointer;
}


/* body part */

#canvas-image {
    position: absolute;
    width: 100%;
    height: 88.875%;
    z-index: -99999;
}

.banner {
    /* border: 1px solid black; */
    width: 30%;
    height: 400px;
    margin-top: 30px;
    position: absolute;
    text-align: center;
}

.banner img {
    width: 75%;
    height: auto;
    margin-top: 20px;
}

#banner-quote {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.privatepolicy {
    width: 55%;
    height: 500px;
    float: left;
    text-align: left;
    position: absolute;
    left: 29%;
    color: #fff;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: -5px;
    /* border: 2px solid black; */
}


#pptext {
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orangered;
}

.also {
    margin-inline-start: 0.5em;
}

h2, h3, h4 {
    margin-inline-start: 0.5em;
}

p {
     margin-inline-start: 0.5em;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.boxtwo {
    width: 475px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    margin-left: 30%;
   
}

.boxthree {
    display: inline-block;
    width: 125%;
    height: 425px;
    background-color:#115c9b;
    border: 1px solid #591484;
    border-radius: 50px;
}

.frtext{
    color: #115c9b; 
    padding-left: 0.5em;
    text-align: left;
}



/* Footer section */

.footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 2%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:orangered;
    font-size: 15px;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer a:hover {
    text-decoration: underline;
}

#footer-trademark {
    font-size: 16px;
    color: #115c9b;
}